.inputs-container {
    // background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 80px;
    gap: 16px;
}

.select-box {
    width: 500px;
    height: 40px;
}

.input {
    width: 525px;
    height: 40px;
}
.search-input {
    width: 525px;
    // height: 40px;
}


// .ant-input.css-dev-only-do-not-override-2rgkd4{
//     width: 525px;
//     height: 40px;
//     // line-height: 100px;
// }

// .ant-input-wrapper.ant-input-group.css-dev-only-do-not-override-2rgkd4{
//     width: 555px;
//     height: 40px;
//     padding: 0;
//     // line-height: 100px;
// }


.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 91px;
    height: 24px;
    
}
